# Database
DATABASE_URL=sqlite:///./vigiae.db

# JWT
SECRET_KEY=sua-chave-super-secreta-mude-isso-em-producao
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS
FRONTEND_URL=http://localhost:3000

# Modo
DEBUG=True